.introContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* background-color: orange; */
}

.headingContainer {
    background-color: blue;
}

.heading {
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 6.5rem;
    margin-left: 12rem;
    z-index: 6;
   
}

.introLeft {
    display: flex;
    flex-direction: row;
    /* padding-right: 8rem; */
    /* justify-content: center; */
    /* background-color: red; */
    margin-left: -22rem;

}

.introRight {
    /* background-color: green; */
    margin: 0 -10rem 3rem 0;
    
}

.catPic {
    width: 30rem;
}

@media only screen and (max-width: 1400px) {
    .heading {
      font-size: 5rem;
  }
    .catPic {
        width: 25rem;
    }
    
    }

    @media only screen and (max-width: 1150px) {
        .heading {
          font-size: 4rem;
      }
        .catPic {
            width: 20rem;
        }      
       
        }

        @media only screen and (max-width: 900px) {
            .heading {
              font-size: 4rem;
          }
            .catPic {
                width: 16rem;
                /* margin-right: -2rem; */
            }   
            }

            
        @media only screen and (max-width: 600px) {
            .introContainer {
               /* background-color: aqua; */
                display: flex;
                flex-direction: column;
            }
            .introLeft {
                display: flex;
                flex-direction: row;
                padding: 0;
                justify-content: flex-start;
                /* background-color: red; */
                margin-left: -4rem;
            
            }

            .introRight {
                display: flex;
                flex-direction: row;
                /* padding-right: 8rem; */
                justify-content: center;
                /* background-color: green; */
                margin-left: 0;
                margin-right: 0;
            
            }
        }

        @media only screen and (max-width: 530px) {
            .introLeft {
                background-color: red;
                margin-left: -6rem;
            }

        }